# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
db.sqlite3
/staticfiles/
/media/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Migrations
*/migrations/__pycache__/
*.sqlite3

# Env
.env
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# Others
*.bak
*.swp
*.swo
*.tmp
